<div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
  <div class="p-3">
    <form id="searchForm" class="input-group rounded mb-3">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        id="searchFormUser"
        name="searchFormUser"
      />
      <input type="submit" value="Find" class="input-group-text border-0" />
    </form>
    <div
      data-mdb-perfect-scrollbar="true"
      style="position: relative; height: 400px; overflow: auto; height: 400px"
      id="allUsers"
    >

      <ul class="list-unstyled mb-0">
        <!-- <li class="p-2 border-bottom">
          <a href="#!" class="d-flex justify-content-between">
            <div class="d-flex flex-row">
              <div>
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="avatar"
                  class="d-flex align-self-center me-3"
                  width="60"
                />
                <span class="badge bg-success badge-dot"></span>
              </div>
              <div class="pt-1">
                <p class="fw-bold mb-0">Marie Horwitz</p>
                <p class="small text-muted">Hello, Are you there?</p>
              </div>
            </div>
            <div class="pt-1">
              <p class="small text-muted mb-1">Just now</p>
              <span class="badge bg-danger rounded-pill float-end">3</span>
            </div>
          </a>
        </li>
        <li class="p-2 border-bottom">
          <a href="#!" class="d-flex justify-content-between">
            <div class="d-flex flex-row">
              <div>
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar"
                  class="d-flex align-self-center me-3"
                  width="60"
                />
                <span class="badge bg-warning badge-dot"></span>
              </div>
              <div class="pt-1">
                <p class="fw-bold mb-0">Alexa Chung</p>
                <p class="small text-muted">Lorem ipsum dolor sit.</p>
              </div>
            </div>
            <div class="pt-1">
              <p class="small text-muted mb-1">5 mins ago</p>
              <span class="badge bg-danger rounded-pill float-end">2</span>
            </div>
          </a>
        </li>
        <li class="p-2 border-bottom">
          <a href="#!" class="d-flex justify-content-between">
            <div class="d-flex flex-row">
              <div>
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                  alt="avatar"
                  class="d-flex align-self-center me-3"
                  width="60"
                />
                <span class="badge bg-success badge-dot"></span>
              </div>
              <div class="pt-1">
                <p class="fw-bold mb-0">Danny McChain</p>
                <p class="small text-muted">Lorem ipsum dolor sit.</p>
              </div>
            </div>
            <div class="pt-1">
              <p class="small text-muted mb-1">Yesterday</p>
            </div>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
