<section style="background-color: #cdc4f9; height: 100vh">
  <a class="nav-link active" aria-current="page" href="/auth/logout">Logout</a>

  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card" id="chat3" style="border-radius: 15px">
          <div class="card-body">
            <div class="row">
              <%- include('./ChatSectionContacts.ejs') %> <%-
              include('./ChatSectionMessage.ejs') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
