<div class="col-md-6 col-lg-7 col-xl-8" style="position: relative">
  <div
    class="pt-3 pe-3"
    id="All_Msg"
    class="card-body"
    style="overflow: auto; height: 400px"
  ></div>
  <!-- <div class="d-flex flex-row justify-content-start">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
        alt="avatar 1"
        style="width: 45px; height: 100%"
      />
      <div>
        <p
          class="small p-2 ms-3 mb-1 rounded-3"
          style="background-color: #f5f6f7"
          id="myMsg"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="small ms-3 mb-3 rounded-3 text-muted float-end">
          12:00 PM | Aug 13
        </p>
      </div>
    </div> -->

  <!-- <div class="d-flex flex-row justify-content-end">
      <div>
        <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
      </div>
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
        alt="avatar 1"
        style="width: 45px; height: 100%"
      />
    </div> -->

  <div
    class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2 w-100"
    style="position: absolute; bottom: 0"
  >
    <!-- <img
      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
      alt="avatar 3"
      style="width: 40px; height: 100%"
    /> -->
    <form class="d-flex w-100" id="msg-form">
      <input
        type="text"
        class="form-control form-control-lg"
        id="msg"
        placeholder="Type message"
      />
      <input
        type="hidden"
        class="form-control form-control-lg"
        id="id"
        value="<%= id %>"
      />
      <input type="submit" value="Send" />
    </form>
  </div>
</div>
