<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Login</title>
  </head>
  <body>
    <form
      class="w-50"
      style="margin: 0 auto; padding-top: 150px"
      action="/auth/login"
      method="POST"
    >
      <h1 class="mb-4">Chatter</h1>

      <!-- Email input -->
      <div class="form-outline mb-4 p">
        <input
          type="text"
          id="login"
          class="form-control"
          name="login"
          required
        />
        <label class="form-label">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          required
        />
        <label class="form-label">Password</label>
      </div>

      <%if (message) { %>
      <h5 class="alert danger-alert"><%= message %></h5>
      <% } %>

      <!-- 2 column grid layout for inline styling -->
      <!-- <div class="row mb-4">
        <div class="col">
          <a href="#!">Forgot password?</a>
        </div>
      </div> -->

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Sign in
      </button>
    </form>
  </body>
</html>
